<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Successful</title>
    <script type="text/javascript">
        // 5 seconds
        setTimeout(function() {
            window.location.href = "/login/";
        }, 5000);
    </script>
</head>
<body>
    <h1>Signup Successful!</h1>
    <p>You will be redirected to the login page in 5 seconds...</p>
    <p>Alternatively, you can <a href="http://127.0.0.1:8000/signup/">click here</a> to go back immediately.</p>
</body>
</html>
